* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.d_day_popup {
    display: none;
}

.d_day_btn_mod {
    display: none;
}

.d_day_btn_del {
    display: none;
}

.cal_nav {
    display: flex;
    margin: 2%;
}

.cal_today_btn {
    margin-left: 2%;
}

.day {
    width: calc(100% / 7);
    border: 1px solid rgb(78, 75, 75);
}

.date {
    width: calc(100% / 7);
    border: 1px solid rgb(78, 75, 75);
}

.days {
    display: flex;
    flex-direction: row;
}

.dates {
   display: flex;
   flex-flow: row wrap;
}

/* 배수로 선택하기: 7의 배수중 첫번 째 */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: red;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: blue;
}

.current-date {
    color: orange;
    font-weight: 900;

}

.other {
    opacity: 0.3;
}

.d_day_date2 {
    color: green;
}
